
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Menu</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Menu</h3>
               <hr>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" *ngIf="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" *ngIf="showMenu">
                 <button (click)="toggleDetails()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showDetails ? 'Hide Details':'Show Details'}}
                </button>
                 <button (click)="toggleFavorites()" class="btn btn-xs btn-primary pull-right"
                    type="button">
                    {{showFavorites ? 'Hide Favorite Button':'Show Favorite Button'}}
                </button>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                    [ngClass]="{active:isSelected(1)}">
                    <a (click)="select(1)"
                     aria-controls="all menu"
                    role="tab">The Menu</a></li>
                    <li role="presentation"
                    [ngClass]="{active:isSelected(2)}">
                    <a (click)="select(2)"
                    aria-controls="appetizers"
                     role="tab">Appetizers</a></li>
                    <li role="presentation"
                    [ngClass]="{active:isSelected(3)}">
                    <a (click)="select(3)"
                     aria-controls="mains"
                     role="tab">Mains</a></li>
                    <li role="presentation"
                    [ngClass]="{active:isSelected(4)}">
                    <a  (click)="select(4)"
                     aria-controls="desserts"
                     role="tab">Desserts</a></li>
                </ul>
             
                <div class="tab-content">
               <ul class="media-list tab-pane fade in active">
                <li class="media">
                    <div *ngFor = "let dish of dishes | filter:filtText"> 
                        <dishItem [image] = "dish.image"
                                  [id] = "dish._id"
                                  [name] = "dish.name"
                                  [label] = "dish.label"
                                  [description] = "dish.description"
                                  [price] = "dish.price"
                                  [showDetails] = "showDetails"
                                  [showFavorites] = "showFavorites"></dishItem>
                    </div>  
                </li>
            </ul>

            </div>
            </div>
        </div>

    </div>
